@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@800&family=Poppins:wght@500&display=swap');

:root{
    --gray1: #333333;
    --gray2: #4F4F4F;
    --gray4: #BDBDBD;
    --gray6: #F2F2F2;
    --blue: #2D9CDB;
    --green: #27AE60;
    --red: #EB5757;
    --violet: #100E1D;
}
*{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}

body{
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    background: #eeeeeec6;
    z-index: -99;
}

.header{
    position: fixed;
    top: 0;
    height: 54px;
    width: 100%;
    background-color: #fff;
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
.header--contenedor{
    position: absolute;
    width: 100%;
    top: 0;
    height: 0;
    margin: auto;
}
.header__logo{
    font-family: 'Heebo', sans-serif;
    font-size: 1.5em;

}
.blur{
    filter: blur(1px);
    z-index: -99;
}

.header--contenedor--active{
    background: #05050597;
    filter: brightness(95%) saturate(95%);
    height: 100vh;
}
.header__container{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: .6rem 0;
}

.nav{
    width: 100%;
    position: absolute;
    top: 39px;
    padding: 1rem 0;
    display: grid;
    justify-content: center;
    background-color: #ffff;
    border: 1px solid #a3a3a3;
    border-radius: .6rem;
    clip-path: inset(0 0 100% 0);
    transition: clip-path .1s ease;
}

.nav--active{
    clip-path: inset(0 0 0 0);
    transition: clip-path .5s ease-in-out;
}

.nav__list{
    display: grid;
    gap: 1rem;
}

.nav__item{
    text-align: center;
    border-bottom: 1px solid transparent;
}

.nav__link{
    display: block;
    width: 100%;
    color: black;
    border-bottom: 1.5px solid transparent;
    transition: .5s ease-in-out;
}

.nav__link--active{
    border-color: gray;
    color: gray;

}


.box__model{
    z-index: 99;
    font-size: 1.2em;
    color: black;

}

.close-active{
    transition: .5s ease-in-out;
    color: red;
}




/* MAIN */

.main{
    padding: 2rem 0;
    position: relative;
    margin-top: 3rem;
    z-index: -1;
}

.main__container{
    display: grid;
    gap: 2rem;
}

/* WELCOME */
.welcome__info{
    display: grid;
    gap: 1.3rem;
    text-align: center;
}


.welcome__info--container{
    /* padding-inline-start: 2rem; */
    
}

.web__link{
    color: var(--blue);
    font-size: .85em;
}
.welcome__title{
    font-size: 1.6em;
    font-weight: 500;
    max-width: 300px;
    margin: 0 auto;

    
}

.container__img{
    box-sizing: border-box;
    width: 100%;
    height: 160px;
    background: url(./images/heroImage.jpg);
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: 100% 100%;
    background-position: bottom center;
    border-radius: 1rem;
}

.welcome__img{
    width: 100%;
    margin: 1rem auto;
}

.info__story{
    display: grid;
    gap: 1.5rem;
}

.story__title{
    font-weight: 500;
    font-size: 1.6em;
    max-width: 200px;
    margin: 0 auto;
}

.story__paragraph{
    font-size: .84em;
    max-width: 300px;
    margin: 0 auto;
}

.form__content{
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

.form__input{
    display: grid;
    grid-template-columns: 1.4fr .6fr;
    gap: 1rem;
}

.form__text{
    text-align: start;
    font-size: .7em;
    color: var(--gray2);
}

.input{
    padding: .7rem;
    border: 1px solid #cecece;
    border-radius: .5rem;
    background-color: var(--gray6);
}

.btn-join{
    border: none;
    border-radius: 1rem;
    color: var(--gray6);
    background-color: var(--blue);
}

/* SERVICEs */


.services__content {
    width: 100%;
    display: grid;
    gap: 2rem;
}

.card__content{
    padding: 1rem;
    border-radius: .5rem;
    cursor: pointer;
    background-color: var(--gray6);
    transition: .5s ease-in-out;
    border: 1px solid #c6c6c670;
    display: grid;
    gap: 1.5rem;
}

.card__content:hover{
    border-color: #aeaeaeee;
    filter: drop-shadow(1px 1px 2px rgba(45, 45, 45, 0.212));
}

.content__icon{
    background-color: gray;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .8rem;
    color: var(--gray6);

}

.card__title{
    color: var(--gray1);
}

.card__paragraph{
    font-size: .9em;
    color: var(--gray2);

}

.icon--blue{
    background-color: var(--blue);
}

.icon--green{
    background-color: var(--green);
    
}
.icon--red{
    background-color: var(--red);

}

.btn-start{
    width: 100px;
    padding: .7rem .5rem;
    border-radius: .5rem;
    border: none;
    background-color: var(--gray2);
    color: var(--gray6);
}

/* DESIGN */

.design__container{
    display: grid;
    gap: 1.5rem
}

.card__design--content{
    display: grid;
    gap: 2rem;
}
.design__subtitle{
    font-size: .75em;
    color: var(--gray4);
}
.design__title{
    font-size: 1.5em;
    margin: 0 auto;
    font-weight: 500;
    text-align: center;
    max-width: 290px;
}

.design__img{
    width: 100%;
    border-radius: 1rem;
}

.see__more{
    color: var(--blue);
    display: flex;
    align-items: center;
    gap: .7rem;
}

/* TEAM */
.team__container{
    display: grid;
    gap: 2rem;
}

.team__info{
    text-align: center;
}

.team__subtitle{
    color: var(--red);
}

.team__title{
    color: var(--gray1);
    font-size: 2em;
    max-width: 250px;
    font-weight: 500;
    margin: .5rem auto;
}

.team__text{
    color: var(--gray2);
}

.team__content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-items: center;
}
.team__img{
    width: 100%;
    border-radius: 1rem;

}

/* USER */

.opinion__container{
    display: grid;
    gap: 1.5rem;
}

.opinion__title{
    font-size: 1.2em;
    font-weight: 500;
}

.card__user{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.user__img{
    border-radius: 1rem;
    width: 90px;
    height: 90px;
}

.user__info{
    display: grid;
    gap: 1rem;
}
.user__name{
    font-size: 1.2em;
    font-weight: 500;
}

.user__text{
    font-size: .9em;
    color: var(--gray2);
}

/* FOOTER */

.footer{
    background-color: var(--violet);
    padding: 2rem 0;
}

.footer__container{
    text-align: center;
    display: grid;
    gap: 2rem;
}
.btn{
    cursor: pointer;
}

.footer__link{
    color: var(--gray4);
}

.footer__list{
    display: grid;
    gap: .5rem;
}

.footer__logo{
    font-size: 1.5em;
    color: var(--gray6);
    margin-bottom: 1rem;
}

.redes__links{
    display: flex;
    justify-content: center;
    gap: .5rem;
}
.red__link{
    border: 1px solid #eeeeee63;
    width: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15px;
    padding: .5rem;
    border-radius: 100%;
    transition: .5s ease;
    color: var(--gray4);
    font-size: .85em;
}

.red__link:hover{
    border-color: var(--blue);
    background-color: var(--blue);
}

.form__text{
    color: var(--gray4);
}

.form__input--footer{
    background-color: var(--gray6);
    display: grid;
    grid-template-columns: 2fr 1fr;
    border-radius: .5rem;
}

.input--footer{
    border: none;
    border-radius: .5rem 0 0 .5rem; 

}

.btn-join--footer{
    background-color: var(--blue);
    border-radius: .5rem;
    color: var(--gray6);
    font-family: inherit;
    border: none;
}

.text__copy{
    font-size: .9em;
    color: var(--gray4);
}


/* MEDIA QUERYS */

@media (min-width: 48rem){

    /* HEADER */

    .header{
        height: 61px;
    }
    
    .header__container{
        padding: 1rem 0 .6rem 0;
        background-color: #ffff;
    }

    .nav{
        width: 100%;
        position: static;
        top: 39px;
        padding: 0;
        display: grid;
        justify-content: end;
        border: none;
        border-radius: .6rem;
        clip-path: none;
        transition: none;
        background-color: transparent;
    }

    .nav__list{
        display: flex;
        gap: 1.5rem;
    }

    .nav__item{
        padding: 0 .3rem;
    }

    .box__model{
        display: none;
    }

    /* MAIN WELCOME */

    .main{
        padding: 4rem 0 1rem 0;
    }

    .welcome__info{
        text-align: left;
    }
    
    .welcome__info--container{
        padding-inline-start: 4rem;
    }
    
    .welcome__title{
        margin: 0 ;
    }
    
    .container__img{
        height: 200px;
    }
    
    .info__story{
        padding-inline-start: 4rem;
    }
    
    .story__title{
        margin: 0;
    }
    
    .story__paragraph{
        margin: 0;
    }
    
    .form__content{
        margin: 0;
    }

    /* services */
    .services__content{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    }

        /* DESIGN */


    .card__design--content{
        grid-template-columns: 1fr 1fr;
        gap: 0 2rem;
        position: relative;
    }
    .top{
        margin-top: 7rem;
    }

    .see__more{
        position: absolute;
        bottom: 0;
        right: 0;
        color: var(--blue);
        display: flex;
        align-items: center;
        gap: .7rem;
    }

    /* TEAM */
    .team__container{
        grid-template-columns: 1fr 1fr ;
        align-items: center;
    }

    .team__info{
        text-align: start;
    }

    .team__title{
        margin: 1rem 0;
    }

    .team__text{
        max-width: 300px;
        color: var(--gray2);
    }

    /* USER */
    .opinion__title{
        font-size: 1.8em;
        max-width: 700px;
    }

    .opinion__container{
        gap: 2.5rem;
    }

    .user__img{
        width: 105px;
        height: 105px;
    }

    .user__name{
        font-size: 1.3em;
    }

    .user__text{
        font-size: 1.1em;
    }

    /* FOOTER */
    .footer__container{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .footer__logo{
        margin-top: .5rem;
    }

    .form__input--footer{
        background-color: var(--gray6);
        display: grid;
        grid-template-columns: 1fr 90px;
        border-radius: .5rem;
    }

    

}

@media (min-width: 64rem){
    
    .web__link{
        font-size: .95em;
    }

    .welcome__info{
        text-align: left;
    }
    
    .welcome__info--container{
        padding-inline-start: 4rem;
    }
    
    .welcome__title{
        margin: 0 ;
        font-size: 2em;
        max-width: 380px;
    }
    
    .container__img{
        height: 270px;
    }
    
    .info__story{
        padding-inline-start: 4rem;
    }
    
    .story__title{
        font-size: 2em;
        max-width: 300px;
        margin: 0;
    }
    
    .story__paragraph{
        font-size: .94em;
        max-width: 350px;
        margin: 0;
    }
    
    .form__content{
        margin: 0;
    }

}

@media (min-width: 90rem){
        
    .container__img{
        height: 310px;
    }
    

}